importing lib

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris

loading data

In [16]:
data  = load_iris()
df = pd.DataFrame(data.data, columns = data.feature_names)
df['species'] = data.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

arange data in feature matrix and target vector

In [21]:
features_names = ['sepal length (cm)',
'sepal width (cm)',
'petal length (cm)',
'petal width (cm)']

In [22]:
df.loc[:,features_names]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [24]:
x = df.loc[:, features_names].values
x.shape

(150, 4)

In [26]:
df.loc[:,'species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [27]:
y = df.loc[:, 'species'].values
y.shape

(150,)